@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-Black.ttf");
}

@font-face {
  font-family: "Nunito Regular";
  src: url("./fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Nunito Medium";
  src: url("./fonts/Nunito-Medium.ttf");
}

@font-face {
  font-family: "Nunito Bold";
  src: url("./fonts/Nunito-Bold.ttf");
}




:root {
  --text: #130E01;
  --background: #F7F0DE;
  --primary: #272F45;
  --secondary: #B4C5EE;
  --accent: #518290;
  --max-screen-size: 1296px;
  --large-screen-size: 1250px;
  --medium-screen-size: 990px;
  /*990px*/
  --small-screen-size: 672px;
  /*600px*/
  --header-height: 60px;
  --footer-height: 80px;

}

/*text styles*/

.header-link {
  font-family: "Nunito Bold";
  font-size: 25px;
}

.footer-text {
  font-family: "Nunito Medium";
  font-size: 12px;
}

.footer-text-2 {
  font-family: "Nunito Regular";
  font-size: 10px;
}

/*general*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

/*navigation*/

.header {
  width: 100%;
  max-width: var(--max-screen-size);
  height: var(--header-height);

  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-home {
  padding-left: 10px;
}

.header-home a {
  color: var(--secondary);
  text-decoration: none;
}

.header-home a:hover {
  color: var(--accent);
}

.header-links {
  width: 40%;

  padding-right: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-bars {
  color: var(--accent) !important;
}

.fa-bars:hover {
  color: var(--primary) !important;
}


.header-links a {
  color: var(--accent);
  text-decoration: none;
}

.header-links a:hover {
  color: var(--primary);
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 990px) {
  .header-links {
    width: 65%;
  }
}

@media screen and (max-width: 600px) {
  .normal-menu {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    justify-content: flex-end;
  }
}


/*sections*/

.main {
  height: 100vh;
  width: 100vw;

  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.section {
  width: 100%;
  min-height: 100vh;

  scroll-snap-align: center;
}

.section-content {
  width: 100%;
  max-width: var(--max-screen-size);
  height: 100vh;

  margin: 0 auto;
}

/*sections-1*/

#section-1 {
  background-color: var(--background);
}

.content-1 {
  height: calc(100vh - var(--header-height));
}

/*sections-2*/

#section-2 {
  background-color: var(--secondary);
}

/*sections-3*/

#section-3 {
  background-color: var(--background);
}


/*sections-4*/

#section-4 {
  background-color: var(--secondary);
}


/*sections-5*/

#section-5 {
  background-color: var(--background);
  position: relative;
  /*display: flex;
  flex-direction: column;*/
}

.content-5 {
  height: calc(100vh - var(--footer-height));
}

/*footer*/

.footer {
  width: 100%;
  height: var(--footer-height);

  /*margin-top: auto;*/
  position: absolute;
  bottom: 0px;

  background-color: var(--primary);
}

.footer-content {
  width: 100%;
  max-width: var(--max-screen-size);

  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-links a {
  color: var(--background);
  text-decoration: none;
}

.footer-links a:hover {
  color: var(--accent);
}

.footer-bar {
  height: 2px;
  width: 95%;

  margin: 0 auto;

  background-color: var(--accent);
}

.footer-copyright {
  text-align: center;
  padding-top: 10px;
  color: var(--secondary);
}

/*scrollbar*/
#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--primary);
}